body {
  font-family: 'Pacifico', cursive;
  font-size:  50px;
  color:  rgb(56,47,50);
  background-color: rgb(221,95,95);
}

p {
  margin: 3px;
}

#title {
  width: 943px;
  height: 299px;
  position: relative;
  display: block;
  margin: auto;
}

#commentary {
  position: relative;
  height: 400px;
  text-align: center;
}

#game-stats {
  position: absolute;
  top: 0px;
  text-align: left;
}

#pins {
  position: relative;
  width: 726px;
  height: 584px;
  display: block;
  margin: auto;
}

/*#ball {
  position: absolute;
}*/

#controls {
  position: relative;
  text-align: center;
}

#new-frame {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  border-radius: 40px;
  background-color: rgb(244,219,195);
  border: 6px solid rgb(56,47,50);
}
