body {
  font-family: 'Pacifico', cursive;
  font-size:  40px;
  color:  rgb(56,47,50);
  background-color: rgb(221,95,95);
}

p {
  margin: 3px;
}

#title {
  display: block;
  margin: auto;
}

#frame-stats {
  position: relative;
  top: 0px;
  text-align: center;
}

#frame-over {
  text-align: center;
}

#bonus-rolls {
  text-align: center;
}

#game-stats {
  position: absolute;
  top: 0px;
  text-align: left;
}


#game-over {
  text-align: center;
}


#pins {
  display: block;
  margin: auto;
}


#balls {
  display: block;
  margin: auto;
}

#controls {
  text-align: center;
}
